@font-face {
  font-family: "OpenSans-Regular";
  src: url("./fonts/OpenSans/OpenSans-Regular.eot");
  src: url("./fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
    url("./fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("./fonts/OpenSans/OpenSans-SemiBold.eot");
  src: url("./fonts/OpenSans/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"),
    url("./fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}